@import '../common';

.navbar {

  li {
    border-right: 1px #464646 solid;
  }

  li:last-child {
    border-right: none;
  }

  a:hover {
    color: black;
  }

  a.active {
    background-color: #4CAF50;
    color: white;
  }
}
