@import '../common';

.navbar {

  margin-bottom: 0px;

  li {
    border-right: 1px #afafaf solid;
  }

  li:last-child {
    border-right: none;
  }

  a:hover {
    color: black;
  }

  a.active {
    background-color: #4CAF50;
    color: white;
  }
}
