.results {
  color: red;
}

.agents-results {
  padding: 0 200px;
  background-color: white;
}

//TODO
.alert {
  padding: 15px;
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-radius: 0;
  //padding: 20px;
  //background-color: #f44336;
  //color: white;
  //opacity: 0.83;
  //transition: opacity 0.6s;
  //margin-bottom: 15px;
}

.alert-error {
  background-color: #fff;
  border-color: #e8aca7;
  color: #be0d00;
}

.alert-info {
  background-color: #fff;
  border-color: rgba(0,90,163,.25);
  color: #1e5aa3;
}

.agents-alerts {
  padding: 50px 50px;
}

.agents-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 40px;
}

.agents-item {
  width: 350px;
  padding: 30px 30px;
  height: 140px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid lightskyblue;
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
}

.results-loading-icon {
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
