.agents {
  color: red;
}

.agents-header {
  height: 250px;
  background-color: #031812;
  //background-image: url('../../resources/agents_header.png');
}

.search-form {
  padding: 100px 24px;
}

.agents-body {
  padding: 0 80px;
  background-color: white;
}

.agents-item {
  width: 100%;
  padding: 30px 30px;
  height: 140px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid lightskyblue;
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
}
